@model Pqrs
@{
    ViewData["Title"] = "Add a new Pqrs";
}

<div class="container">
    <h2>Add New PQRS</h2>
    <div class="form-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Creation_date" class="control-label"></label>
                <input asp-for="Creation_date" class="form-control" />
                <span asp-validation-for="Creation_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcategory" class="control-label"></label>
                <select asp-for="Idcategory" class="form-control" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="Idcategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iduser" class="control-label"></label>
                <select asp-for="Iduser" class="form-control" asp-items="ViewBag.User"></select>
                <span asp-validation-for="Iduser" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 d-flex justify-content-between">
                <a class="btn btn-form btn-outline-secondary" asp-action="Index">Show all</a>
                <input type="submit" value="Create" class="btn btn-form btn-outline-success" />
            </div>
        </form>
    </div>
</div>
